{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "bld/**/*.js"
  ],
  "exclude": [
    "bld/test/**/*.js",
    "bld/examples/**/*.js",
    "bld/internal-util/**/*.js",
    "bld/lang.js"
  ]
}
